In [8]:
# Import Dependencies
import pandas as pd

In [9]:
# Make a reference to the comic_books_expanded.csv file path
income = "US Counties Education vs. Income.csv"
costindex = "data.csv"

In [10]:
# Import the comic_books_expanded.csv file as a DataFrame
income_df = pd.read_csv(income)
costindex_df = pd.read_csv(costindex)

In [11]:
# Check the special characters imported correctly
income_df.head()

,county_FIPS,state,county,per_capita_personal_income_2019,per_capita_personal_income_2020,per_capita_personal_income_2021,associate_degree_numbers_2016_2020,bachelor_degree_numbers_2016_2020,associate_degree_percentage_2016_2020,bachelor_degree_percentage_2015_2019
0,51013,VA,"Arlington, VA",97629,100687,107603,19573,132394,11.21,75.84
1,35028,NM,"Los Alamos, NM",72366,75949,81306,2766,9098,20.54,67.56
2,8013,CO,"Boulder, CO",79698,83173,89593,45834,135876,21.24,62.97
3,24027,MD,"Howard, MD",78013,82041,86380,42538,136792,19.49,62.67
4,36061,NY,"New York, NY",173525,175327,195543,167960,777483,13.43,62.18

In [12]:
costindex_df.head()

,fips,state,densityMi,pop2023,pop2022,pop2020,pop2019,pop2010,growthRate,growth,growthSince2010,costIndex,groceryCost,housingCost,utilitiesCost,transportationCost,miscCost
0,28,Mississippi,63.07084,2959473,2960075,2961279,2961879,2967297,-0.00020,-602,-0.00264,83.3,92.2,66.3,90.4,86.7,91.4
1,20,Kansas,36.24443,2963308,2954832,2937880,2929402,2853118,0.00287,8476,0.03862,86.5,91.7,72.6,100.2,97.3,90.3
2,1,Alabama,100.65438,5097641,5073187,5024279,4999822,4779736,0.00482,24454,0.06651,87.9,98.2,70.1,100.7,92.7,94.1
3,40,Oklahoma,58.63041,4021753,4000953,3959353,3938551,3751351,0.00520,20800,0.07208,87.9,94.5,74.7,95.1,94.8,93.5
4,13,Georgia,191.59470,11019186,10916760,10711908,10609487,9687653,0.00938,102426,0.13745,88.8,95.9,74.4,90.5,92.6,96.6

In [13]:
# Remove unecessary columns from the DataFrame and save the new DataFrame
# Only keep: "state","costIndex" 

cost_reduced_df =costindex_df[["state", "costIndex" ]]
cost_reduced_df.head()

         state  costIndex
0  Mississippi       83.3
1       Kansas       86.5
2      Alabama       87.9
3     Oklahoma       87.9
4      Georgia       88.8

In [20]:
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}
    
# invert the dictionary
abbrev_to_us_state = dict(map(reversed, us_state_to_abbrev.items()))

In [21]:
# Change state to abbreviation
new_cost_df =cost_reduced_df.replace({"state": us_state_to_abbrev})
new_cost_df.head()

  state  costIndex
0    MS       83.3
1    KS       86.5
2    AL       87.9
3    OK       87.9
4    GA       88.8

In [24]:
# Merge the two data sets
merged_df = pd.merge(income_df, new_cost_df, on=["state"])
merged_df.head()

,county_FIPS,state,county,per_capita_personal_income_2019,per_capita_personal_income_2020,per_capita_personal_income_2021,associate_degree_numbers_2016_2020,bachelor_degree_numbers_2016_2020,associate_degree_percentage_2016_2020,bachelor_degree_percentage_2015_2019,costIndex
0,51013,VA,"Arlington, VA",97629,100687,107603,19573,132394,11.21,75.84,101.8
1,51107,VA,"Loudoun, VA",82681,85568,90254,52006,160853,19.92,61.62,101.8
2,51087,VA,"Henrico, VA",68826,69938,74650,60829,101632,26.49,44.26,101.8
3,51075,VA,"Goochland, VA",104892,106031,110781,4586,7705,26.07,43.81,101.8
4,51179,VA,"Stafford, VA",56078,58744,62954,28316,39872,29.36,41.35,101.8

In [32]:
# Calculate the adjusted per capita income
merged_df["Adjusted per capita income"] = merged_df['per_capita_personal_income_2021']/merged_df['costIndex']*100
merged_df

,county_FIPS,state,county,per_capita_personal_income_2019,per_capita_personal_income_2020,per_capita_personal_income_2021,associate_degree_numbers_2016_2020,bachelor_degree_numbers_2016_2020,associate_degree_percentage_2016_2020,bachelor_degree_percentage_2015_2019,costIndex,Adjusted per capita income),Adjusted per capita income
0,51013,VA,"Arlington, VA",97629,100687,107603,19573,132394,11.21,75.84,101.8,105700.392927,105700.392927
1,51107,VA,"Loudoun, VA",82681,85568,90254,52006,160853,19.92,61.62,101.8,88658.153242,88658.153242
2,51087,VA,"Henrico, VA",68826,69938,74650,60829,101632,26.49,44.26,101.8,73330.058939,73330.058939
3,51075,VA,"Goochland, VA",104892,106031,110781,4586,7705,26.07,43.81,101.8,108822.200393,108822.200393
4,51179,VA,"Stafford, VA",56078,58744,62954,28316,39872,29.36,41.35,101.8,61840.864440,61840.864440
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3001,32033,NV,"White Pine, NV",48628,53734,56241,2340,920,32.69,12.85,106.3,52907.808090,52907.808090
3002,32023,NV,"Nye, NV",37624,39534,42796,13340,4346,38.02,12.39,106.3,40259.642521,40259.642521
3003,32015,NV,"Lander, NV",67315,69536,72511,1500,479,38.62,12.33,106.3,68213.546566,68213.546566
3004,32011,NV,"Eureka, NV",47549,47833,49606,479,142,39.36,11.67,106.3,46666.039511,46666.039511
3005,32027,NV,"Pershing, NV",33070,37287,39688,1602,530,31.15,10.31,106.3,37335.841957,37335.841957

In [33]:
merged_df.columns

Index(['county_FIPS', 'state', 'county', 'per_capita_personal_income_2019',
       'per_capita_personal_income_2020', 'per_capita_personal_income_2021',
       'associate_degree_numbers_2016_2020',
       'bachelor_degree_numbers_2016_2020',
       'associate_degree_percentage_2016_2020',
       'bachelor_degree_percentage_2015_2019', 'costIndex',
       'Adjusted per capita income)', 'Adjusted per capita income'],
      dtype='object')

In [34]:
# Then Format to go to two decimal places, include a dollar sign, and use comma notation
merged_df['Adjusted per capita income'] = merged_df['Adjusted per capita income'].astype('float64').map("${:,.2f}".format)
merged_df

,county_FIPS,state,county,per_capita_personal_income_2019,per_capita_personal_income_2020,per_capita_personal_income_2021,associate_degree_numbers_2016_2020,bachelor_degree_numbers_2016_2020,associate_degree_percentage_2016_2020,bachelor_degree_percentage_2015_2019,costIndex,Adjusted per capita income),Adjusted per capita income
0,51013,VA,"Arlington, VA",97629,100687,107603,19573,132394,11.21,75.84,101.8,105700.392927,"$105,700.39"
1,51107,VA,"Loudoun, VA",82681,85568,90254,52006,160853,19.92,61.62,101.8,88658.153242,"$88,658.15"
2,51087,VA,"Henrico, VA",68826,69938,74650,60829,101632,26.49,44.26,101.8,73330.058939,"$73,330.06"
3,51075,VA,"Goochland, VA",104892,106031,110781,4586,7705,26.07,43.81,101.8,108822.200393,"$108,822.20"
4,51179,VA,"Stafford, VA",56078,58744,62954,28316,39872,29.36,41.35,101.8,61840.864440,"$61,840.86"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3001,32033,NV,"White Pine, NV",48628,53734,56241,2340,920,32.69,12.85,106.3,52907.808090,"$52,907.81"
3002,32023,NV,"Nye, NV",37624,39534,42796,13340,4346,38.02,12.39,106.3,40259.642521,"$40,259.64"
3003,32015,NV,"Lander, NV",67315,69536,72511,1500,479,38.62,12.33,106.3,68213.546566,"$68,213.55"
3004,32011,NV,"Eureka, NV",47549,47833,49606,479,142,39.36,11.67,106.3,46666.039511,"$46,666.04"
3005,32027,NV,"Pershing, NV",33070,37287,39688,1602,530,31.15,10.31,106.3,37335.841957,"$37,335.84"

In [35]:
del merged_df["Adjusted per capita income)"]

In [36]:
merged_df

,county_FIPS,state,county,per_capita_personal_income_2019,per_capita_personal_income_2020,per_capita_personal_income_2021,associate_degree_numbers_2016_2020,bachelor_degree_numbers_2016_2020,associate_degree_percentage_2016_2020,bachelor_degree_percentage_2015_2019,costIndex,Adjusted per capita income
0,51013,VA,"Arlington, VA",97629,100687,107603,19573,132394,11.21,75.84,101.8,"$105,700.39"
1,51107,VA,"Loudoun, VA",82681,85568,90254,52006,160853,19.92,61.62,101.8,"$88,658.15"
2,51087,VA,"Henrico, VA",68826,69938,74650,60829,101632,26.49,44.26,101.8,"$73,330.06"
3,51075,VA,"Goochland, VA",104892,106031,110781,4586,7705,26.07,43.81,101.8,"$108,822.20"
4,51179,VA,"Stafford, VA",56078,58744,62954,28316,39872,29.36,41.35,101.8,"$61,840.86"
...,...,...,...,...,...,...,...,...,...,...,...,...
3001,32033,NV,"White Pine, NV",48628,53734,56241,2340,920,32.69,12.85,106.3,"$52,907.81"
3002,32023,NV,"Nye, NV",37624,39534,42796,13340,4346,38.02,12.39,106.3,"$40,259.64"
3003,32015,NV,"Lander, NV",67315,69536,72511,1500,479,38.62,12.33,106.3,"$68,213.55"
3004,32011,NV,"Eureka, NV",47549,47833,49606,479,142,39.36,11.67,106.3,"$46,666.04"
3005,32027,NV,"Pershing, NV",33070,37287,39688,1602,530,31.15,10.31,106.3,"$37,335.84"

In [38]:
# Rename column bachelor_degree_percentage_2015_2019 to bachelor_degree_percentage_2016_2019
renamed_df = merged_df.rename(columns={"bachelor_degree_percentage_2015_2019": "bachelor_degree_percentage_2016_2019"})
renamed_df

,county_FIPS,state,county,per_capita_personal_income_2019,per_capita_personal_income_2020,per_capita_personal_income_2021,associate_degree_numbers_2016_2020,bachelor_degree_numbers_2016_2020,associate_degree_percentage_2016_2020,bachelor_degree_percentage_2016_2019,costIndex,Adjusted per capita income
0,51013,VA,"Arlington, VA",97629,100687,107603,19573,132394,11.21,75.84,101.8,"$105,700.39"
1,51107,VA,"Loudoun, VA",82681,85568,90254,52006,160853,19.92,61.62,101.8,"$88,658.15"
2,51087,VA,"Henrico, VA",68826,69938,74650,60829,101632,26.49,44.26,101.8,"$73,330.06"
3,51075,VA,"Goochland, VA",104892,106031,110781,4586,7705,26.07,43.81,101.8,"$108,822.20"
4,51179,VA,"Stafford, VA",56078,58744,62954,28316,39872,29.36,41.35,101.8,"$61,840.86"
...,...,...,...,...,...,...,...,...,...,...,...,...
3001,32033,NV,"White Pine, NV",48628,53734,56241,2340,920,32.69,12.85,106.3,"$52,907.81"
3002,32023,NV,"Nye, NV",37624,39534,42796,13340,4346,38.02,12.39,106.3,"$40,259.64"
3003,32015,NV,"Lander, NV",67315,69536,72511,1500,479,38.62,12.33,106.3,"$68,213.55"
3004,32011,NV,"Eureka, NV",47549,47833,49606,479,142,39.36,11.67,106.3,"$46,666.04"
3005,32027,NV,"Pershing, NV",33070,37287,39688,1602,530,31.15,10.31,106.3,"$37,335.84"